/* 複製你的 login/register 頁面的 CSS 樣式，然後稍微調整以符合本頁面需求 */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e6e6;
    background-image: url('/photoCarousel/login_pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.infoBox {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.field {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}
