@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

/* body {
    font-family: 'Noto Sans TC';
} */

body {
    background-color: #fff;
}
.page-content {
    padding-top: 84px;
    /* 根據你的 Navbar 的實際高度調整 */
}
